<VirtualHost *:80 >
  ServerAlias *
  DocumentRoot {{ document_root }}
  <Directory "{{ document_root }}">
    Options -Indexes +FollowSymLinks -MultiViews
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
{% if self_signed %}
<VirtualHost *:443 >
  ServerAlias *
  DocumentRoot {{ document_root }}
  <Directory "{{ document_root }}">
    Options -Indexes +FollowSymLinks -MultiViews
    AllowOverride All
    Require all granted
  </Directory>
  SSLEngine on
  SSLCertificateFile      {{ ssl_path }}/server.crt 
  SSLCertificateKeyFile {{ ssl_path }}/server.pem
</VirtualHost>
{% endif %}
